@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Shamika Hill
   Date:   11/14/2021
   
   Filename: sp_layout.css

*/

/* Window and Body Styles */

html{
   height: 100%;
}

body {
   width: 95%;
   min-width: 640px;
   max-width: 960px;
   margin: 0 auto;
   min-height: 100%;
}

header, ul, nav, li, a {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}


/* Row Styles */

header.row::after {
   clear: both;
   content: "";
   display: table;
}



/* Page Header Styles */

body > header > img {
   display: block;
   width: 70%;
   float: left;
}

body > header > nav {
   float: left;
   padding-left: 2%;
   padding-right: 2%;
   width: 30%;
}

header > nav > a {
   display: block;
   width: 100%;
}


/* Horizontal Navigation List Styles */

nav.horizontal li {
   display: block;
   float: left;
   width: 12.5%;
}


/* Topics Styles */

ul#topics li {
   display: block;
   width: 20%;
   float: left;
   margin-left: 0%;
   margin-right: 1.5%;
}

#topics li:first-child {
   margin-left: 7.75%;
}

#topics li:last-child {
   margin-right: 7.75%;
}

#topics img {
   display: block;
   width: 50%;
   margin-left: auto;
   margin-right: auto;
}

/* HR Styles */
hr {
   width: 50%;
}



/* Customer Comment Styles */



/* Footer Styles */


